<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
    <body>
    {{!-- <nav class='indexNav navFlex'>
      <a href="/" class="logo"><img class="logo-img" src="/images/logo.png" alt="logo"></a>
      <img class="logo-img2 show-modal" src="/images/menu.png" alt="menuImg"></a>
      <section class="modal hidden"> 
        <button class="close-modal">x</button>
        <div class="linkFlex">
         <a href="/auth/signup">Sign Up</a>
         <a href="/auth/login">Log In</a>
         </div>
      </section>
    </nav>
    <div class="overlay hidden"></div> --}}

    <img id="indexImg" src="/images/indexImg.png" alt="index Image">

    <h1>Spot Your <span>Spot</span></h1>
    <h3>Do what you love and share your spot!</h3>





    <div class='signUpLogInFlex'>
        <a class="sign-up-button"href="/auth/signup">Sign Up</a>
        
        <a class="log-in-button"href="/auth/login">Log In</a>
       
        <img class="logoSize" src="/images/logo.png" alt="logo">
    </div>




<script src="/js/script.js"></script>
  </body>
</html>

