<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{!-- Add Mapbox API --}}
      <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
      <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
  </head>

  <body class="">
    <nav class=' navFlex'>
      <div class="indexNav">
        <img class="show-modal" src="/images/menuebar-white.png" alt="menuImg"></a>
      </div>
      <section class="modal hidden"> 
        <button class="close-modal">x</button>
        <ul class="linkFlex">
          <li class="nav-profile">
            <div class="profile-img-container">
              <a href="/profile"><img src="{{user.imageUrl}}" alt="" class="profile-img"></a>
            </div> 
            <p>{{user.username}}</p>
          </li>
          
          <li class="nav-item nav-link">
            <img src="/images/navbar-Icons/home.webp" alt="" class="nav-icon">
            <a href="/location">Location Feed</a></li>
          <li class="nav-item nav-link">
            <img src="/images/navbar-Icons/create-location.webp" alt="" class="nav-icon">
            <a href="/location/create">Add New Location</a></li>
          <li class="nav-item nav-link">
            <img src="/images/navbar-Icons/location-on-map.png" alt="" class="nav-icon">
            <a href="/map">Location Map</a></li>
          <li class="nav-item nav-link">
            <img src="/images/navbar-Icons/heart-nav.png" alt="" class="nav-icon">
            <a href="/profile/favorites">Favorites</a></li>
          <li class="nav-item logout-container">
            <img src="/images/navbar-Icons/log-out.png" alt="" class="nav-icon logout-icon">
            <form action="/auth/logout" method="post">
              <button class="navLogOutBtn">Log Out</button>
            </form>
          </li>
         </ul>
      </section>
      <div class="overlay hidden"></div>
    </nav>
      

    {{{body}}}

    {{!-- Add map.js file --}}
    <script src="/js/map.js"></script>
    <script src="/js/script.js"></script>
  </body>
  

</html>