<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{!-- Add Mapbox API --}}
      <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
      <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
  </head>

  <body>
    <nav class='indexNav navFlex'>
      {{!-- <a href="/" class="logo"><img class="profileImage" src="/images/profilePrototype.png" alt="logo"></a> --}}
      <img class="profileImage" src="/images/profilePrototype.png" alt="logo">
      <img class="show-modal" src="/images/menu.png" alt="menuImg"></a>
      <section class="modal hidden"> 
        <button class="close-modal">x</button>
        <div class="linkFlex">
          <a href="/location">Main Feed</a>
          <a href="/location/create">Create New Location</a>
          <a href="/map">Location Map</a>
          <a href="/profile">Profile</a>
          <a href="/profile/edit-profile">Edit Profile</a>
          <a href="/profile/posts">My Posts</a>
          <a href="/profile/favorites">Favorites</a>
          <a href="/location/my-locations">My Locations</a>
           <form action="/auth/logout" method="post">
            <button class="navLogOutBtn">Log Out</button>
           </form>
         </div>
      </section>
    </nav>
      <div class="overlay hidden"></div>

    {{{body}}}

    {{!-- Add map.js file --}}
    <script src="/js/map.js"></script>
    <script src="/js/script.js"></script>
  </body>
  

</html>