body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


/* 
Buttons
- sign-up-button
- log-in-button 
*/

/* 
Success/ Error-Messages
- error
- success
*/