<h1>edit Profile</h1>

<form action="/movies/create" method="post" enctype="multipart/form-data"> 
    
    <label for="fullname">Full Name:</label>
    <input type="text" name="fullname" id="fullname" placeholder="firstname lastname">

    <label for="profileinfo">Full Name:</label>
    <textarea id="profileinfo" name="profileinfo" rows="4" cols="50" placeholder="Tell something about you!"></textarea>
    
    
    <label for="profileimg">Update Profile Image:<label>Image:
    <input type="file" name="profileimg" />


    <button type="submit">Edit User Information</button>
</form>