
<h1 class="h3style">Edit <span class="spanBlue">Profile</span></h1>

<form class ="form-class" action="/profile/img-upload" method="post" enctype="multipart/form-data"> 
    
    <label class="label-class" for="fullName"></label>
    <input class = "input-class" type="text" name="fullName" id="fullName" placeholder="Name">

    <label class="label-class" for="profileInfo"></label>
    <textarea id="profileInfo" name="profileInfo" rows="4" cols="23.4" placeholder="About you!"></textarea>
    
    
    <label class="label-class" for="profileImg">Image:</label>
    <input class = "input-class" type="file" name="profileImg"/>


    <button class='sign-up-button' type="submit">Edit User</button>
</form>
<h1 class="h1-center">Spot Your <span class="spanBlue">Spot</span></h1>
<br>
<div class ='logoImgFlex'>
<img class="logoSize2" src="/images/logo.png" alt="logo">
<img class="loginImg" src="/images/signupImg.png" alt="index Image">
</div>