<h1>main Profile</h1>
<img src="{{imageUrl}}" alt="" class="profile-img" width="270px">
<article class="profile">
    <h2>{{username}}</h2>
    <p>{{fullName}}</p>
    <p>{{profileInfo}}</p>
</article>

