<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
    <body>
    <nav class='indexNav navFlex'>
      <a href="/" class="logo"><img class="logo-img" src="/images/logo.png" alt="logo"></a>
      <img class="logo-img2 show-modal" src="/images/menu.png" alt="menuImg"></a>
      <section class="modal hidden"> 
        <button class="close-modal">x</button>
        <div class="linkFlex">
         <a href="/auth/signup">Sign Up</a>
         <a href="/auth/login">Log In</a>
         </div>
      </section>
    </nav>
    <div class="overlay hidden"></div>


<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
<script src="/js/script.js"></script>
  </body>
</html>
