<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    {{!-- <nav class='indexNav navFlex'>
      <a href="/" class="logo"><img class="logo-img" src="/images/logo.png" alt="logo"></a>
      <img class="logo-img2 show-modal" src="/images/menu.png" alt="menuImg"></a>
      <section class="modal hidden"> 
        <button class="close-modal">x</button>
        <div class="linkFlex">
         <a href="/auth/signup">Sign Up</a>
         <a href="/auth/login">Log In</a>
         </div>
      </section>
    </nav> --}}
    {{!-- <div class="overlay hidden"></div> --}}
<div id="form">
  <br>
  <br>
  <h3><span>Sign</span> Up</h3>
  <form action="/auth/signup" method="POST">

    <label>
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label>
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label>
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button class='sign-up-button' type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
<h1>Spot Your <span>Spot</span></h1>
<h3>Share your favorite spots for your favorite sports and help others like you enjoy and have fun!</h3>
<br>
<div class = 'logoImgFlex'>
<img class="logoSize2" src="/images/logo.png" alt="logo">
<img class="loginImg" src="/images/signupImg.png" alt="index Image">
</div>

<script src="/js/script.js"></script>
  </body>
</html>